
@media (min-width: 740px) and (max-width: 1023px) {
    #content .content-container{
        flex-direction: column;
        align-items: center;
    }

    #content .content__avatar{
        width: 300px;
        flex: 0;
        border-radius: 999em;
        border: 3px solid #000 hidden;
    }

    #content .user-infor {
        text-align: center;
        width: auto;
    }

    .content__buttonSection{
        flex-direction: column;
    }

    .button{
        width: auto;
        margin: 10px 0px;
    }
}

@media (max-width: 46.1875em) { 
    #content .content-container{
        flex-direction: column;
        align-items: center;
    }

    #content .content-container{
        margin: auto 20px;
        /* padding: 0px; */
    }

    #content .content__avatar{
        width: 150px;
        flex: 0;
        border-radius: 999em;
        border: 3px solid #000 hidden;
    }

    #content .user-infor {
        text-align: center;
        width: auto;
        padding: 0px;
    }

    .content__buttonSection{
        flex-direction: column;
    }

    .button{
        width: auto;
        margin: 10px 0px;
    }












    .header-name{
        display: none;
    }

    .header-nav{
        width: 100% !important;
    }

    .avatar{
        width: 100% !important;
    }

    .nav-items{
        width: 33.33% !important;
        display: block;
        float: left;
        height: 55px;
        line-height: 52px;
        text-align: center;
        font-weight: 700;
        margin: 0px 0px !important;
        border-bottom: 3px solid none;
    }

    .content-container{
        margin: 10px 10px;
        text-align: center !important;
    }

    #content .user-infor .contact-btn,.about-btn{
        width: 100%;
        margin: 12px 0px !important;
    }

}