
@media (min-width: 1025px) {
    .footer-nav--mobile {
        display: none;
    }
}

@media (min-width: 740px) and (max-width: 1024px) {
    .footer-nav--mobile {
        display: none;
    }

    #content .content-container{
        flex-direction: column;
        align-items: center;
    }

    #content .content__avatar{
        width: 300px;
        flex: 0;
        border-radius: 999em;
        border: 3px solid #000 hidden;
    }

    #content .user-infor {
        text-align: center;
        width: auto;
    }

    .content__buttonSection{
        flex-direction: column;
    }

    .content__buttonSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 140px;
    }

    .btn--ipad {
        width: 100%;
        height: 60px;
    }

}

@media (max-width: 46.1875em) {
    .header-nav {
        display: none;
    }

    .header-name {
        width: 100%;
        text-align: center;
    }

    .footer-nav--mobile {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .footer-nav-list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.4);
    }

    .footer-nav-item {
        height: 67px;
        width: 33.333%;
        text-align: center;
        line-height: 67px;
        cursor: pointer;
    }
    
    .footer-nav-item-link {
        text-decoration: none;
        color: var(--text-color);
    }

    .footer-nav-item-icon {
        position: relative;
        top: 5px;
        font-size: 24px;
    }

    #content .content-container{
        flex-direction: column;
        align-items: center;
    }

    #content .content-container{
        margin: auto 20px;
        /* padding: 0px; */
    }

    #content .content__avatar{
        width: 150px;
        flex: 0;
        border-radius: 999em;
        border: 3px solid #000 hidden;
    }

    #content .user-infor {
        text-align: center;
        width: auto;
        padding: 0px;
    }

    .content__buttonSection{
        flex-direction: column;
    }

    .content__buttonSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 110px;
    }
}