*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: sans-serif;
}

.row{
    width: 100%;
}

.col{
    float: left;
    display: block;
}

.col-half{
    width: 50%;
}

ul{
    list-style-type: none;
}

#header{
    position: fixed;
    top: 0;
    width: 100%;
    background: rgb(115,160,254);
    background: linear-gradient(211deg, rgba(115,160,254,1) -12%, rgba(215,242,170,1) 53%, rgba(123,177,255,1) 100%);
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header .header-container{
    width: 1200px;
    min-width: calc(100% - 200px);
}

#header .header-name{
    font-size: 24px;
    font-weight: bold;
    padding: 12px;
    line-height: 30px;
}

#header .nav-list{
    font-size: 16px;
}

#header .nav-items{
    line-height: 55px;
    border-bottom: 3px solid hidden;
    display: block;
    float: right;
    margin: 0px 18px;
    height: 55px;
    font-weight: 700;
    text-align: center;
}

#header .nav-items:hover{
    border-bottom: 3px solid #000;
}

#content{
    margin-top: 55px;
    background: linear-gradient(211deg, rgba(235,106,184,1) -12%, rgba(215,242,170,1) 53%, rgba(201,89,89,1) 100%);
    height: calc(100vh - 55px);
    position: relative;
}

#content .content-container{
    box-shadow: 5px 5px 5px 5px #ccc;
    background: linear-gradient(40deg, rgba(255, 255, 255, 0.527) 0%, rgba(233, 233, 233, 0.521) 34%, rgba(213, 213, 213, 0.658) 72%, rgba(241, 241, 241, 0.5) 100%);
    border: 0px solid #000;
    border-radius: 24px;
    padding: 24px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    float: left;
    max-height: 33.33%;
}

#content .avatar{
    width: 33%;
    float: left;
}

#content .avatar img{
    width: 100%;
    border-radius: 999em;
    border: 3px solid #000 hidden;
}

#content .user-infor{
    float: left;
    padding: 0px 12px;
    width: 66.66%;
}

#content .user-infor .heading{
    margin: 22px 0px;
    line-height: 40px;
    font-size: 32px;
    font-weight: 600;
}

#content .user-infor .sub-heading{
    margin: 20px 0px;
    line-height: 30px;
    font-size: 24px;
    font-weight: 600;
}

#content .user-infor .say-sth{
    margin: 16px 0px;
    line-height: 20px;
    font-size: 16px;
}

#content .user-infor .contact-btn,.about-btn{
    display: block;
    width: 40%;
    line-height: 48px;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    border: 0px solid #000;
    border-radius: 14px;
    background-color: #4D4252;
    color: #fff;
    font-weight: 600;
    margin: 12px 5% 0px;
    float: left;
}

#content .about-btn{
    background-color: #615D47;
}