*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: sans-serif;
}

.row{
    width: 100%;
}

.col{
    float: left;
    display: block;
}

.col-half{
    width: 50%;
}

ul{
    list-style-type: none;
}

#header{
    position: fixed;
    top: 0;
    width: 100%;
    background: rgb(115,160,254);
    background: linear-gradient(211deg, rgba(115,160,254,1) -12%, rgba(215,242,170,1) 53%, rgba(123,177,255,1) 100%);
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header .header-container{
    width: 100%;
    padding: 0px 40px;
}

#header .header-name{
    font-size: 24px;
    font-weight: bold;
    padding: 12px;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
    font-family: 'The Nautigal', cursive;
}

.header-name-link {
    text-decoration: none;
    color: var(--header-text-color);
    text-shadow: -2px 2px 3px rgba(0,0,0, 0.5);
    font-weight: 500;
}

#header .nav-list{
    font-size: 16px;
}

#header .nav-item-container {
    line-height: 55px;
    display: block;
    float: right;
    min-width: 80px;
    height: 55px;
    position: relative;
    text-align: center;
}

.nav-item {
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    font-family: 'The Nautigal', cursive;
    text-decoration: none;
    color: var(--text-color);
}

.nav-item::after {
    display: none;
    --border-height: 4px;
    content: "";
    position: absolute;
    top: calc(100% - var(--border-height) - 1px);
    left: 0;
    width: 50%;
    height: 1px;
    border-bottom:var(--border-height) solid var(--border-blue-color);
    animation: borderHoverGrowth ease-out .3s;
    animation-fill-mode: forwards;
}

.nav-item-container:hover .nav-item::after{
    display: block;
}



#content{
    margin-top: 55px;
    background: linear-gradient(211deg, rgba(235,106,184,1) -12%, rgba(215,242,170,1) 53%, rgba(201,89,89,1) 100%);
    height: calc(100vh - 55px);
    display: flex;
    justify-content: space-around;
}

#content .content-container{
    box-shadow: 5px 5px 5px 5px #ccc;
    background: linear-gradient(40deg, rgba(255, 255, 255, 0.527) 0%, rgba(233, 233, 233, 0.521) 34%, rgba(213, 213, 213, 0.658) 72%, rgba(241, 241, 241, 0.5) 100%);
    border-radius: 24px;
    padding: 24px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.5);
    display: flex;
    justify-item-container: space-around;
    margin: auto;
    max-width: 750px;
}

#content .content__avatar{
    flex: 1;
    width: 33%;
    border-radius: 999em;
}

#content .user-infor{
    flex: 2;
    float: left;
    padding: 0px 12px;
    width: 100%;
}

#content .user-infor .heading{
    margin: 22px 0px;
    line-height: 40px;
    font-size: 32px;
    font-weight: 600;
}

#content .user-infor .sub-heading{
    margin: 20px 0px;
    line-height: 30px;
    font-size: 24px;
    font-weight: 600;
}

#content .user-infor .say-sth{
    margin: 16px 0px;
    line-height: 20px;
    font-size: 16px;
}

.content__buttonSection{
    display: flex;
    justify-content: space-around;
}
.button{
    padding: 3px 0px;
    width: 200px;
    line-height: 48px;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 14px;
    color: #fff;
    font-weight: 600;
}

.content__btn--contact{
    background-color: #4D4252;
}

.content__btn--about{
    background-color: #615D47;
}